section{width: 1370px;height: 699px;background: url(../images/y/58c122c46d640.jpg) no-repeat center center;background-size:1370px;}
section div{width: 740px;height: 699px;background: rgba(0,0,0,.5);padding-left: 260px;color: #fff;line-height: 40px;}
section h1{font-size: 32px;font-weight: 500;padding-top: 100px;}